{% extends "base.html" %}

{% block title %}Applications{% endblock %}

{% block content %}

<section data-anchor="page-project" class="page-project section">
	<div class="container">
		<body style="centered">
        <div class="container text-left clearfix">
            <h1>Basic Banking Transaction Application</h1>
            <a href="http://auckland.bauer.uh.edu/students/gl1343/" target="_blank"><h2>Using ASP.NET/VB/C#</h2></a>
            <p></p>
        </div>
    </body>

	</div>
</section>

<section data-anchor="page-project" class="page-project section">
	<div class="container">
		<body style="centered">
        <div class="container text-left clearfix">
            <h1>Basic Banking Transaction Application</h1>
            <a href="http://auckland.bauer.uh.edu/students/gl1343/" target="_blank"><h2>Using ASP.NET/VB/C#</h2></a>
            <p></p>
        </div>
    </body>

	</div>
</section>

{% endblock %}
